In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Agent Performance Report.csv')

In [3]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,30-07-2022,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,30-07-2022,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,30-07-2022,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,30-07-2022,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,30-07-2022,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,01-07-2022,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0
2156,2157,01-07-2022,Nitin M,0,00:00:00,00:00:00,0.00,0
2157,2158,01-07-2022,Vivek,0,00:00:00,00:00:00,0.00,0
2158,2159,01-07-2022,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0
2159,2160,01-07-2022,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0

In [97]:
def convert_to_sec(var):
    H,M,S = list(map(int, var.split(':')))
    return (H * 60 * 60) + (M *60) + S

In [98]:
k = '01:20:20'
k.split(':')
n = list(map(int ,(k.split(':'))))
n

[1, 20, 20]

In [99]:
df['Average Response Time'] = df['Average Response Time'].apply(convert_to_sec)

In [100]:
df['Average Resolution Time'] = df['Average Resolution Time'].apply(convert_to_sec)

In [101]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,30-07-2022,Prerna Singh,11,38,260,4.11,9
1,2,30-07-2022,Nandani Gupta,11,75,1705,3.14,7
2,3,30-07-2022,Ameya Jain,14,30,696,4.55,11
3,4,30-07-2022,Mahesh Sarade,14,64,946,4.71,7
4,5,30-07-2022,Swati,14,71,993,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,01-07-2022,Sowmiya Sivakumar,0,0,0,0.00,0
2156,2157,01-07-2022,Nitin M,0,0,0,0.00,0
2157,2158,01-07-2022,Vivek,0,0,0,0.00,0
2158,2159,01-07-2022,Ayushi Mishra,0,0,0,0.00,0
2159,2160,01-07-2022,Chaitra K Hiremath,0,0,0,0.00,0

In [102]:
df.groupby(['Agent Name']).mean()

,SL No,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
Agent Name,,,,,,
Abhishek,1081.266667,0.000000,0.000000,0.000000,0.000000,0.000000
Aditya,1092.033333,0.000000,0.000000,0.000000,0.000000,0.000000
Aditya Shinde,1068.000000,9.233333,29.733333,620.633333,1.800333,5.100000
Aditya_iot,1059.400000,7.700000,33.966667,589.300000,2.345333,4.366667
Amersh,1088.333333,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...
Uday Mishra,1072.766667,0.000000,0.000000,0.000000,0.000000,0.000000
Vasanth P,1088.633333,0.000000,0.000000,0.000000,0.000000,0.000000
Vivek,1098.033333,1.466667,13.700000,152.766667,0.500667,0.666667
Wasim,1068.900000,14.433333,29.700000,688.866667,2.400000,9.466667
Zeeshan,1075.133333,18.066667,61.733333,645.066667,2.287000,11.166667

In [103]:
df.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time        int64
Average Resolution Time      int64
Average Rating             float64
Total Feedback               int64
dtype: object

In [104]:
def check_ratings(var):
    if var > 4:
        return 'good'
    else:
        return 'need to improve'

In [105]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback'],
      dtype='object')

In [106]:
df['Ratings'] = df['Average Rating'].apply(check_ratings)

In [107]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Ratings
0,1,30-07-2022,Prerna Singh,11,38,260,4.11,9,good
1,2,30-07-2022,Nandani Gupta,11,75,1705,3.14,7,need to improve
2,3,30-07-2022,Ameya Jain,14,30,696,4.55,11,good
3,4,30-07-2022,Mahesh Sarade,14,64,946,4.71,7,good
4,5,30-07-2022,Swati,14,71,993,3.67,6,need to improve
...,...,...,...,...,...,...,...,...,...
2155,2156,01-07-2022,Sowmiya Sivakumar,0,0,0,0.00,0,need to improve
2156,2157,01-07-2022,Nitin M,0,0,0,0.00,0,need to improve
2157,2158,01-07-2022,Vivek,0,0,0,0.00,0,need to improve
2158,2159,01-07-2022,Ayushi Mishra,0,0,0,0.00,0,need to improve
2159,2160,01-07-2022,Chaitra K Hiremath,0,0,0,0.00,0,need to improve

In [108]:
any(df.isnull())

True

In [109]:
for col_name in list(df):
    print(col_name , ':' , any(df[col_name].isna()))
    print(col_name , ':' , any(df[col_name].isnull()))

SL No : False
SL No : False
Date : False
Date : False
Agent Name : False
Agent Name : False
Total Chats : False
Total Chats : False
Average Response Time : False
Average Response Time : False
Average Resolution Time : False
Average Resolution Time : False
Average Rating : False
Average Rating : False
Total Feedback : False
Total Feedback : False
Ratings : False
Ratings : False

# Q1 agent average rating on weekly basis

In [110]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Ratings
0,1,30-07-2022,Prerna Singh,11,38,260,4.11,9,good
1,2,30-07-2022,Nandani Gupta,11,75,1705,3.14,7,need to improve
2,3,30-07-2022,Ameya Jain,14,30,696,4.55,11,good
3,4,30-07-2022,Mahesh Sarade,14,64,946,4.71,7,good
4,5,30-07-2022,Swati,14,71,993,3.67,6,need to improve

In [111]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'Ratings'],
      dtype='object')

In [112]:
df['Date'] = pd.to_datetime(df['Date'],format = '%d-%m-%Y')

In [113]:
df.groupby(['Average Rating']).resample('W-Mon' , on = 'Date').mean()

                                 SL No  Total Chats  Average Response Time  \
Average Rating Date
0.0            2022-07-04  2021.247748     0.000000               0.000000
               2022-07-11  1628.785933     0.033639               1.327217
               2022-07-18  1121.636086     0.009174               0.094801
               2022-07-25   621.342508     0.003058               0.379205
               2022-08-01   185.663717     0.013274               0.225664
...                                ...          ...                    ...
5.0            2022-07-04  2028.625000     9.375000              73.750000
               2022-07-11  1627.480000     5.880000              62.200000
               2022-07-18  1092.941176     8.529412              47.235294
               2022-07-25   532.666667     7.000000             129.000000
               2022-08-01   171.466667     9.800000              54.800000

                           Average Resolution Time  Average Rating  \
Average Rating Date
0.0            2022-07-04                 0.000000             0.0
               2022-07-11                31.116208             0.0
               2022-07-18                 3.137615             0.0
               2022-07-25                17.727829             0.0
               2022-08-01                 1.681416             0.0
...                                            ...             ...
5.0            2022-07-04              1291.125000             5.0
               2022-07-11              1446.480000             5.0
               2022-07-18              1408.058824             5.0
               2022-07-25               729.000000             5.0
               2022-08-01              1177.333333             5.0

                           Total Feedback
Average Rating Date
0.0            2022-07-04        0.000000
               2022-07-11        0.000000
               2022-07-18        0.000000
               2022-07-25        0.000000
               2022-08-01        0.000000
...                                   ...
5.0            2022-07-04        4.875000
               2022-07-11        2.960000
               2022-07-18        5.176471
               2022-07-25        3.833333
               2022-08-01        5.933333

[398 rows x 6 columns]

In [114]:
df.groupby(['Agent Name']).resample('W-Mon' , on = 'Date').mean()[['Average Rating']]

                       Average Rating
Agent Name Date
Abhishek   2022-07-04        0.000000
           2022-07-11        0.000000
           2022-07-18        0.000000
           2022-07-25        0.000000
           2022-08-01        0.000000
...                               ...
Zeeshan    2022-07-04        0.000000
           2022-07-11        1.925714
           2022-07-18        2.947143
           2022-07-25        3.151429
           2022-08-01        2.488000

[350 rows x 1 columns]

## TOTAL Working days for each agents

In [115]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Ratings
0,1,2022-07-30,Prerna Singh,11,38,260,4.11,9,good
1,2,2022-07-30,Nandani Gupta,11,75,1705,3.14,7,need to improve
2,3,2022-07-30,Ameya Jain,14,30,696,4.55,11,good
3,4,2022-07-30,Mahesh Sarade,14,64,946,4.71,7,good
4,5,2022-07-30,Swati,14,71,993,3.67,6,need to improve

In [116]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'Ratings'],
      dtype='object')

In [117]:
pd.DataFrame( df['Agent Name'].value_counts())

                Agent Name
Rishav Dash             60
Ashish                  60
Sandipan Saha           30
Anurag Tiwari           30
Zeeshan                 30
...                    ...
Saurabh Shukla          30
Wasim                   30
Samprit                 30
Maitry                  30
Jawala Prakash          30

[70 rows x 1 columns]

# Total Query That You have taken

In [118]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Ratings
0,1,2022-07-30,Prerna Singh,11,38,260,4.11,9,good
1,2,2022-07-30,Nandani Gupta,11,75,1705,3.14,7,need to improve
2,3,2022-07-30,Ameya Jain,14,30,696,4.55,11,good
3,4,2022-07-30,Mahesh Sarade,14,64,946,4.71,7,good
4,5,2022-07-30,Swati,14,71,993,3.67,6,need to improve

In [119]:
df.groupby(['Agent Name']).sum()[['Total Chats']]

               Total Chats
Agent Name
Abhishek                 0
Aditya                   0
Aditya Shinde          277
Aditya_iot             231
Amersh                   0
...                    ...
Uday Mishra              0
Vasanth P                0
Vivek                   44
Wasim                  433
Zeeshan                542

[70 rows x 1 columns]

In [120]:
df.groupby(['Agent Name']).sum()[['Total Chats']].idxmax(),df.groupby(['Agent Name']).sum()[['Total Chats']].max()

(Total Chats    Hrisikesh Neogi
 dtype: object,
 Total Chats    578
 dtype: int64)

In [121]:
df.dtypes

SL No                               int64
Date                       datetime64[ns]
Agent Name                         object
Total Chats                         int64
Average Response Time               int64
Average Resolution Time             int64
Average Rating                    float64
Total Feedback                      int64
Ratings                            object
dtype: object

In [122]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'Ratings'],
      dtype='object')

In [123]:
df.groupby(['Agent Name']).sum().max()

SL No                      65101.00
Total Chats                  578.00
Average Response Time       2827.00
Average Resolution Time    38058.00
Average Rating               126.98
Total Feedback               367.00
dtype: float64

In [124]:
df[df['Agent Name'] == ['Hrisikesh Neogi'].sum()['']

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_4596/2885295601.py, line 1)

In [125]:
df[df['Average Response Time'] == 2827

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_4596/2824468334.py, line 1)

In [126]:
df.groupby(['Agent Name']).sum()[['Average Response Time']].idxmax(),df.groupby(['Agent Name']).sum()[['Average Response Time']].max()

(Average Response Time    Jawala Prakash
 dtype: object,
 Average Response Time    2827
 dtype: int64)

## Total Feedback that you have recived

In [127]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Ratings
0,1,2022-07-30,Prerna Singh,11,38,260,4.11,9,good
1,2,2022-07-30,Nandani Gupta,11,75,1705,3.14,7,need to improve
2,3,2022-07-30,Ameya Jain,14,30,696,4.55,11,good
3,4,2022-07-30,Mahesh Sarade,14,64,946,4.71,7,good
4,5,2022-07-30,Swati,14,71,993,3.67,6,need to improve

In [128]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'Ratings'],
      dtype='object')

In [129]:
df.groupby(['Agent Name']).sum()[['Total Feedback']].idxmax(),df.groupby(['Agent Name']).sum()[['Total Feedback']].max()

(Total Feedback    Hrisikesh Neogi
 dtype: object,
 Total Feedback    367
 dtype: int64)

In [130]:
df.groupby(['Agent Name']).sum()[['Total Feedback']]

               Total Feedback
Agent Name
Abhishek                    0
Aditya                      0
Aditya Shinde             153
Aditya_iot                131
Amersh                      0
...                       ...
Uday Mishra                 0
Vasanth P                   0
Vivek                      20
Wasim                     284
Zeeshan                   335

[70 rows x 1 columns]

In [131]:
df['Total Feedback'].sum()

9259

#  Agent name who have average rating between  3.5 to 4

In [132]:
df.head(3)

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Ratings
0,1,2022-07-30,Prerna Singh,11,38,260,4.11,9,good
1,2,2022-07-30,Nandani Gupta,11,75,1705,3.14,7,need to improve
2,3,2022-07-30,Ameya Jain,14,30,696,4.55,11,good

In [133]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'Ratings'],
      dtype='object')

In [134]:
df[(df['Average Rating'] > 3.5) & (df['Average Rating'] < 4)]

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Ratings
4,5,2022-07-30,Swati,14,71,993,3.67,6,need to improve
10,11,2022-07-30,Manjunatha A,11,47,2576,3.60,5,need to improve
76,77,2022-07-29,Prateek _iot,8,36,641,3.75,4,need to improve
78,79,2022-07-29,Nandani Gupta,24,84,1733,3.79,14,need to improve
80,81,2022-07-29,Jaydeep Dixit,27,52,1453,3.95,22,need to improve
...,...,...,...,...,...,...,...,...,...
1869,1870,2022-07-05,Boktiar Ahmed Bappy,24,53,593,3.78,18,need to improve
1874,1875,2022-07-04,Ayushi Mishra,29,71,1079,3.80,20,need to improve
1941,1942,2022-07-04,Jawala Prakash,6,44,148,3.80,5,need to improve
2021,2022,2022-07-02,Aditya Shinde,57,86,1192,3.54,28,need to improve
2023,2024,2022-07-02,Deepranjan Gupta,52,70,2114,3.71,24,need to improve

# Agent name who have rating less than 3.5

In [135]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'Ratings'],
      dtype='object')

In [136]:
df[df['Average Rating'] < 3.5]

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Ratings
1,2,2022-07-30,Nandani Gupta,11,75,1705,3.14,7,need to improve
19,20,2022-07-30,Hitesh Choudhary,0,0,0,0.00,0,need to improve
20,21,2022-07-30,Sanjeevan,0,0,0,0.00,0,need to improve
21,22,2022-07-30,Anirudh,0,0,0,0.00,0,need to improve
22,23,2022-07-30,Shiva Srivastava,0,0,0,0.00,0,need to improve
...,...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,0,0,0.00,0,need to improve
2156,2157,2022-07-01,Nitin M,0,0,0,0.00,0,need to improve
2157,2158,2022-07-01,Vivek,0,0,0,0.00,0,need to improve
2158,2159,2022-07-01,Ayushi Mishra,0,0,0,0.00,0,need to improve
2159,2160,2022-07-01,Chaitra K Hiremath,0,0,0,0.00,0,need to improve

# Agent rating who have rating more than 4.5

In [137]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'Ratings'],
      dtype='object')

In [138]:
df[df['Average Rating'] > 4.5]

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Ratings
2,3,2022-07-30,Ameya Jain,14,30,696,4.55,11,good
3,4,2022-07-30,Mahesh Sarade,14,64,946,4.71,7,good
5,6,2022-07-30,Mukesh,9,34,934,4.62,8,good
6,7,2022-07-30,Saikumarreddy N,15,31,669,5.00,12,good
7,8,2022-07-30,Sanjeev Kumar,12,55,1243,5.00,6,good
...,...,...,...,...,...,...,...,...,...
2100,2101,2022-07-01,Shubham Sharma,22,108,1766,5.00,13,good
2101,2102,2022-07-01,Jaydeep Dixit,25,75,1587,4.77,13,good
2102,2103,2022-07-01,Shivananda Sonwane,23,84,1814,4.86,14,good
2103,2104,2022-07-01,Khushboo Priya,24,106,1768,4.61,18,good
2104,2105,2022-07-01,Hrisikesh Neogi,15,65,1529,4.56,9,good

# How many feedbacks agents have recieved who's Average rating is greater than 4.5

In [139]:
df.head(2)

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Ratings
0,1,2022-07-30,Prerna Singh,11,38,260,4.11,9,good
1,2,2022-07-30,Nandani Gupta,11,75,1705,3.14,7,need to improve

In [140]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'Ratings'],
      dtype='object')

In [149]:
df[df['Average Rating'] > 4.5].groupby(['Agent Name']).sum()[['Total Feedback']]

                        Total Feedback
Agent Name
Aditya Shinde                       73
Aditya_iot                          43
Ameya Jain                         150
Anirudh                              2
Ankitjha                             1
Aravind                            178
Ayushi Mishra                       75
Bharath                            231
Boktiar Ahmed Bappy                 52
Chaitra K Hiremath                   5
Deepranjan Gupta                    83
Harikrishnan Shaji                  80
Hrisikesh Neogi                    183
Ishawant Kumar                      79
Jawala Prakash                      33
Jayant Kumar                         7
Jaydeep Dixit                      179
Khushboo Priya                     134
Madhulika G                         67
Mahesh Sarade                       46
Maitry                              81
Manjunatha A                       132
Mithun S                            93
Mukesh                              17
Mukesh Rao                           1
Muskan Garg                         14
Nandani Gupta                       91
Nishtha Jain                        18
Prabir Kumar Satapathy              53
Prateek _iot                        54
Prerna Singh                        82
Rishav Dash                         27
Saikumarreddy N                    184
Sandipan Saha                        1
Sanjeev Kumar                      164
Saurabh Shukla                       3
Shiva Srivastava                     2
Shivan K                           130
Shivananda Sonwane                 154
Shubham Sharma                     155
Sowmiya Sivakumar                   16
Sudhanshu Kumar                      2
Suraj S Bilgi                        4
Swati                              103
Vivek                                3
Wasim                              156
Zeeshan                             48

In [148]:
df[df['Average Rating'] > 4.5].groupby(['Agent Name']).sum()[['Total Feedback']].idxmax() , df[df['Average Rating'] > 4.5].groupby(['Agent Name']).sum()[['Total Feedback']].max()

(Total Feedback    Bharath
 dtype: object,
 Total Feedback    231
 dtype: int64)

# Average weekly response time for each agent

In [150]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Ratings
0,1,2022-07-30,Prerna Singh,11,38,260,4.11,9,good
1,2,2022-07-30,Nandani Gupta,11,75,1705,3.14,7,need to improve
2,3,2022-07-30,Ameya Jain,14,30,696,4.55,11,good
3,4,2022-07-30,Mahesh Sarade,14,64,946,4.71,7,good
4,5,2022-07-30,Swati,14,71,993,3.67,6,need to improve

In [152]:
df.groupby(['Agent Name']).resample('W-Mon' , on = 'Date').mean()[['Average Response Time']]

                       Average Response Time
Agent Name Date
Abhishek   2022-07-04               0.000000
           2022-07-11               0.000000
           2022-07-18               0.000000
           2022-07-25               0.000000
           2022-08-01               0.000000
...                                      ...
Zeeshan    2022-07-04               0.000000
           2022-07-11              39.714286
           2022-07-18             121.142857
           2022-07-25              60.571429
           2022-08-01              60.400000

[350 rows x 1 columns]

# List of all agents name

In [154]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'Ratings'],
      dtype='object')

In [156]:
list(df['Agent Name'])

['Prerna Singh',
 'Nandani Gupta',
 'Ameya Jain',
 'Mahesh Sarade',
 'Swati ',
 'Mukesh ',
 'Saikumarreddy N',
 'Sanjeev Kumar',
 'Shubham Sharma',
 'Nishtha Jain',
 'Manjunatha A',
 'Khushboo Priya',
 'Suraj S Bilgi',
 'Harikrishnan Shaji',
 'Hrisikesh Neogi',
 'Shivan K',
 'Sowmiya Sivakumar',
 'Madhulika G',
 'Mithun S',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Anirudh ',
 'Shiva Srivastava',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Aditya_iot ',
 'Prabir Kumar Satapathy',
 'Saurabh Shukla',
 'Wasim ',
 'Samprit ',
 'Maitry ',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Tarun ',
 'Muskan Garg',
 'Ankit Sharma',
 'Bharath ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Sandipan Saha',
 'Ineuron Intelligence ',
 'Mahak ',
 'Mukesh Rao ',
 'Zeeshan ',
 'Rishav Dash',
 'Anurag Tiwari',
 'Ankitjha ',
 'Saif Khan',
 'Jaydeep Dixit',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Ashish ',
 'Rohan ',
 'Vivek ',
 'Nitin M',
 'Shivan_S ',
 'Spuri ',
 'Ayushi Mishra',
 'Chaitra K Hiremath',
 'Prateek _iot ',
 'Boktiar Ahmed Bappy',
 'Shivananda Sonwane',
 'Ishawant Kumar',
 'Deepranjan Gupta',
 'Jawala Prakash',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Shiva Srivastava',
 'Muskan Garg',
 'Prateek _iot ',
 'Aditya_iot ',
 'Nandani Gupta',
 'Prerna Singh',
 'Jaydeep Dixit',
 'Sanjeev Kumar',
 'Mahesh Sarade',
 'Zeeshan ',
 'Mukesh ',
 'Chaitra K Hiremath',
 'Suraj S Bilgi',
 'Shivan K',
 'Mithun S',
 'Rishav Dash',
 'Madhulika G',
 'Hrisikesh Neogi',
 'Sowmiya Sivakumar',
 'Wasim ',
 'Prabir Kumar Satapathy',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Nishtha Jain',
 'Jayant Kumar',
 'Swati ',
 'Saurabh Shukla',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Khushboo Priya',
 'Maitry ',
 'Tarun ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Shubham Sharma',
 'Ineuron Intelligence ',
 'Mahak ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Manjunatha A',
 'Ameya Jain',
 'Ankitjha ',
 'Anurag Tiwari',
 'Saif Khan',
 'Ashish ',
 'Harikrishnan Shaji',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Saikumarreddy N',
 'Rohan ',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Spuri ',
 'Ishawant Kumar',
 'Jawala Prakash',
 'Ayushi Mishra',
 'Deepranjan Gupta',
 'Ayushi Mishra',
 'Shiva Srivastava',
 'Muskan Garg',
 'Deepranjan Gupta',
 'Aditya_iot ',
 'Prateek _iot ',
 'Shubham Sharma',
 'Ameya Jain',
 'Jaydeep Dixit',
 'Saikumarreddy N',
 'Zeeshan ',
 'Chaitra K Hiremath',
 'Rishav Dash',
 'Khushboo Priya',
 'Wasim ',
 'Nishtha Jain',
 'Harikrishnan Shaji',
 'Manjunatha A',
 'Prabir Kumar Satapathy',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeev Kumar',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Hrisikesh Neogi',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Swati ',
 'Mithun S',
 'Prerna Singh',
 'Saurabh Shukla',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Maitry ',
 'Tarun ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Ankitjha ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ashish ',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Suraj S Bilgi',
 'Rohan ',
 'Nandani Gupta',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Shivan K',
 'Spuri ',
 'Mahesh Sarade',
 'Madhulika G',
 'Sowmiya Sivakumar',
 'Ishawant Kumar',
 'Shivananda Sonwane',
 'Jawala Prakash',
 'Boktiar Ahmed Bappy',
 'Ishawant Kumar',
 'Jawala Prakash',
 'Shiva Srivastava',
 'Muskan Garg',
 'Prateek _iot ',
 'Aditya_iot ',
 'Prerna Singh',
 'Mahesh Sarade',
 'Sanjeev Kumar',
 'Nandani Gupta',
 'Saikumarreddy N',
 'Zeeshan ',
 'Ameya Jain',
 'Shubham Sharma',
 'Chaitra K Hiremath',
 'Ankitjha ',
 'Nishtha Jain',
 'Khushboo Priya',
 'Mithun S',
 'Wasim ',
 'Sowmiya Sivakumar',
 'Hrisikesh Neogi',
 'Harikrishnan Shaji',
 'Manjunatha A',
 'Madhulika G',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Swati ',
 'Prabir Kumar Satapathy',
 'Saurabh Shukla',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Tarun ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Rishav Dash',
 'Saif Khan',
 'Anurag Tiwari',
 'Ashish ',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Suraj S Bilgi',
 'Rohan ',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Shivan K',
 'Spuri ',
 'Jaydeep Dixit',
 'Maitry ',
 'Shivananda Sonwane',
 'Ayushi Mishra',
 'Boktiar Ahmed Bappy',
 'Deepranjan Gupta',
 'Maitry ',
 'Shiva Srivastava',
 'Muskan Garg',
 'Ankitjha ',
 'Aditya_iot ',
 'Prateek _iot ',
 'Nandani Gupta',
 'Saikumarreddy N',
 'Prerna Singh',
 'Jaydeep Dixit',
 'Chaitra K Hiremath',
 'Sanjeev Kumar',
 'Mahesh Sarade',
 'Harikrishnan Shaji',
 'Shivan K',
 'Sowmiya Sivakumar',
 'Khushboo Priya',
 'Hrisikesh Neogi',
 'Mithun S',
 'Madhulika G',
 'Wasim ',
 'Rishav Dash',
 'Prabir Kumar Satapathy',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Nishtha Jain',
 'Jayant Kumar',
 'Swati ',
 'Saurabh Shukla',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Rishav Dash',
 'Aravind ',
 'Tarun ',
 'Bharath ',
 'Ashad Nasim',
 'Vasanth P',
 'Aditya ',
 'Amersh ',
 'Shubham Sharma',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Zeeshan ',
 'Mukesh Rao ',
 'Manjunatha A',
 'Ameya Jain',
 'Saif Khan',
 'Anurag Tiwari',
 'Ashish ',
 'Sudhanshu Kumar',
 'Maneesh ',
 'Hyder Abbas',
 'Suraj S Bilgi',
 'Rohan ',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Spuri ',
 'Ishawant Kumar',
 'Boktiar Ahmed Bappy',
 'Ayushi Mishra',
 'Deepranjan Gupta',
 'Jawala Prakash',
 'Shivananda Sonwane',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Shiva Srivastava',
 'Prateek _iot ',
 'Aditya_iot ',
 'Muskan Garg',
 'Ameya Jain',
 'Sanjeev Kumar',
 'Swati ',
 'Prerna Singh',
 'Shubham Sharma',
 'Zeeshan ',
 'Jaydeep Dixit',
 'Chaitra K Hiremath',
 'Shivan K',
 'Harikrishnan Shaji',
 'Rishav Dash',
 'Sowmiya Sivakumar',
 'Mithun S',
 'Manjunatha A',
 'Wasim ',
 'Bharath ',
 'Nishtha Jain',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Hrisikesh Neogi',
 'Aditya Shinde',
 'Uday Mishra',
 'Jayant Kumar',
 'Prabir Kumar Satapathy',
 'Saurabh Shukla',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Rishav Dash',
 'Khushboo Priya',
 'Aravind ',
 'Tarun ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Maneesh ',
 'Hyder Abbas',
 'Sudhanshu Kumar',
 'Saikumarreddy N',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Nandani Gupta',
 'Vivek ',
 'Shivan_S ',
 'Nitin M',
 'Mahesh Sarade',
 'Madhulika G',
 'Jawala Prakash',
 'Maitry ',
 'Deepranjan Gupta',
 'Ishawant Kumar',
 'Ayushi Mishra',
 'Shiva Srivastava',
 'Jawala Prakash',
 'Deepranjan Gupta',
 'Ishawant Kumar',
 'Jaydeep Dixit',
 'Swati ',
 'Shubham Sharma',
 'Mahesh Sarade',
 'Ameya Jain',
 'Aravind ',
 'Zeeshan ',
 'Saikumarreddy N',
 'Nishtha Jain',
 'Khushboo Priya',
 'Shivan K',
 'Madhulika G',
 'Rishav Dash',
 'Prabir Kumar Satapathy',
 'Manjunatha A',
 'Hrisikesh Neogi',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Sanjeev Kumar',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Aditya Shinde',
 'Uday Mishra',
 'Aditya_iot ',
 'Jayant Kumar',
 'Hyder Abbas',
 'Mithun S',
 'Saurabh Shukla',
 'Wasim ',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Prerna Singh',
 'Rishav Dash',
 'Tarun ',
 'Muskan Garg',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Harikrishnan Shaji',
 'Ashish ',
 'Prateek _iot ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Nandani Gupta',
 'Shivan_S ',
 'Nitin M',
 'Vivek ',
 'Chaitra K Hiremath',
 'Sowmiya Sivakumar',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Ayushi Mishra',
 'Maitry ',
 'Shiva Srivastava',
 'Ayushi Mishra',
 'Maitry ',
 'Nandani Gupta',
 'Shubham Sharma',
 'Prerna Singh',
 'Swati ',
 'Ameya Jain',
 'Mahesh Sarade',
 'Aravind ',
 'Sanjeev Kumar',
 'Saikumarreddy N',
 'Nishtha Jain',
 'Khushboo Priya',
 'Harikrishnan Shaji',
 'Sowmiya Sivakumar',
 'Shivan K',
 'Madhulika G',
 'Hrisikesh Neogi',
 'Mithun S',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Aditya_iot ',
 'Jayant Kumar',
 'Hyder Abbas',
 'Saurabh Shukla',
 'Prabir Kumar Satapathy',
 'Wasim ',
 'Deepranjan Gupta',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Rishav Dash',
 'Tarun ',
 'Muskan Garg',
 'Bharath ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Zeeshan ',
 'Manjunatha A',
 'Rishav Dash',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Prateek _iot ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Shivan_S ',
 'Nitin M',
 'Vivek ',
 'Jaydeep Dixit',
 'Chaitra K Hiremath',
 'Ishawant Kumar',
 'Shivananda Sonwane',
 'Jawala Prakash',
 'Boktiar Ahmed Bappy',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Prateek _iot ',
 'Aditya_iot ',
 'Nandani Gupta',
 'Prerna Singh',
 'Jaydeep Dixit',
 'Aravind ',
 'Zeeshan ',
 'Mahesh Sarade',
 'Sanjeev Kumar',
 'Chaitra K Hiremath',
 'Rishav Dash',
 'Wasim ',
 'Nishtha Jain',
 'Madhulika G',
 'Khushboo Priya',
 'Sowmiya Sivakumar',
 'Prabir Kumar Satapathy',
 'Mithun S',
 'Shivan K',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Dibyanshu ',
 'Ashish ',
 'Hrisikesh Neogi',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Swati ',
 'Hyder Abbas',
 'Saurabh Shukla',
 'Deepranjan Gupta',
 'Rishav Dash',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Tarun ',
 'Muskan Garg',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Shubham Sharma',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Manjunatha A',
 'Ameya Jain',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Harikrishnan Shaji',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Saikumarreddy N',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Ishawant Kumar',
 'Ayushi Mishra',
 'Maitry ',
 'Jawala Prakash',
 'Ayushi Mishra',
 'Aditya_iot ',
 'Prateek _iot ',
 'Deepranjan Gupta',
 'Ameya Jain',
 'Jaydeep Dixit',
 'Shubham Sharma',
 'Zeeshan ',
 'Saikumarreddy N',
 'Wasim ',
 'Hrisikesh Neogi',
 'Harikrishnan Shaji',
 'Prabir Kumar Satapathy',
 'Rishav Dash',
 'Manjunatha A',
 'Bharath ',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Sanjeev Kumar',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Dibyanshu ',
 'Ashish ',
 'Nishtha Jain',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Swati ',
 'Hyder Abbas',
 'Mithun S',
 'Saurabh Shukla',
 'Rishav Dash',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Prerna Singh',
 'Khushboo Priya',
 'Aravind ',
 'Tarun ',
 'Muskan Garg',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Mahak ',
 'Ineuron Intelligence ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Suraj S Bilgi',
 'Rohan ',
 'Spuri ',
 'Nandani Gupta',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Shivan K',
 'Mahesh Sarade',
 'Madhulika G',
 'Chaitra K Hiremath',
 'Sowmiya Sivakumar',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Maitry ',
 'Jawala Prakash',
 'Ishawant Kumar',
 'Jawala Prakash',
 'Ishawant Kumar',
 'Aditya_iot ',
 'Prateek _iot ',
 'Prerna Singh',
 'Hrisikesh Neogi',
 'Swati ',
 'Ameya Jain',
 'Shubham Sharma',
 'Mahesh Sarade',
 'Zeeshan ',
 'Sanjeev Kumar',
 'Saikumarreddy N',
 'Nandani Gupta',
 'Khushboo Priya',
 'Madhulika G',
 'Wasim ',
 'Manjunatha A',
 'Mithun S',
 'Bharath ',
 'Aravind ',
 'Harikrishnan Shaji',
 'Sowmiya Sivakumar',
 'Nishtha Jain',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Dibyanshu ',
 'Ashish ',
 'Uday Mishra',
 'Aditya Shinde',
 'Jayant Kumar',
 'Hyder Abbas',
 'Saurabh Shukla',
 'Prabir Kumar Satapathy',
 'Deepranjan Gupta',
 'Rishav Dash',
 'Ankit Sharma',
 'Samprit ',
 'Abhishek ',
 'Tarun ',
 'Muskan Garg',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Ineuron Intelligence ',
 'Mahak ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Rishav Dash',
 'Saif Khan',
 'Anurag Tiwari',
 'Ankitjha ',
 'Ashish ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Rohan ',
 'Spuri ',
 'Suraj S Bilgi',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Shivan K',
 'Jaydeep Dixit',
 'Chaitra K Hiremath',
 'Ayushi Mishra',
 'Shivananda Sonwane',
 'Boktiar Ahmed Bappy',
 'Maitry ',
 'Maitry ',
 'Prateek _iot ',
 'Aditya_iot ',
 'Saikumarreddy N',
 'Prerna Singh',
 'Harikrishnan Shaji',
 'Nandani Gupta',
 'Sanjeev Kumar',
 'Mahesh Sarade',
 'Jaydeep Dixit',
 'Aravind ',
 'Shivan K',
 'Madhulika G',
 'Khushboo Priya',
 'Sowmiya Sivakumar',
 'Rishav Dash',
 'Wasim ',
 'Hrisikesh Neogi',
 'Prabir Kumar Satapathy',
 'Mithun S',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Ashish ',
 'Dibyanshu ',
 'Aditya Shinde',
 'Nishtha Jain',
 'Uday Mishra',
 'Jayant Kumar',
 'Hyder Abbas',
 'Swati ',
 'Saurabh Shukla',
 'Bharath ',
 'Rishav Dash',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Muskan Garg',
 'Tarun ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Shubham Sharma',
 'Ineuron Intelligence ',
 'Mahak ',
 'Sandipan Saha',
 'Ameya Jain',
 'Zeeshan ',
 'Mukesh Rao ',
 'Manjunatha A',
 'Saif Khan',
 'Ankitjha ',
 'Anurag Tiwari',
 'Ashish ',
 'Maneesh ',
 'Sudhanshu Kumar',
 'Spuri ',
 'Rohan ',
 'Suraj S Bilgi',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Chaitra K Hiremath',
 'Shivananda Sonwane',
 'Ishawant Kumar',
 'Boktiar Ahmed Bappy',
 'Jawala Prakash',
 'Ayushi Mishra',
 'Deepranjan Gupta',
 'Ayushi Mishra',
 'Jawala Prakash',
 'Deepranjan Gupta',
 'Shivananda Sonwane',
 'Prateek _iot ',
 'Prerna Singh',
 'Jaydeep Dixit',
 'Shubham Sharma',
 'Nandani Gupta',
 'Harikrishnan Shaji',
 'Aditya_iot ',
 'Sanjeev Kumar',
 'Zeeshan ',
 'Ameya Jain',
 'Rishav Dash',
 'Wasim ',
 'Shivan K',
 'Mithun S',
 'Bharath ',
 'Prabir Kumar Satapathy',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Ashish ',
 'Dibyanshu ',
 'Hrisikesh Neogi',
 'Aditya Shinde',
 'Uday Mishra',
 'Jayant Kumar',
 'Hyder Abbas',
 'Swati ',
 'Saurabh Shukla',
 'Rishav Dash',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Aravind ',
 'Maitry ',
 'Muskan Garg',
 'Tarun ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Ineuron Intelligence ',
 'Mahak ',
 'Sandipan Saha',
 'Mukesh Rao ',
 'Saif Khan',
 'Ankitjha ',
 'Anurag Tiwari',
 'Ashish ',
 'Maneesh ',
 'Saikumarreddy N',
 'Rohan ',
 'Sudhanshu Kumar',
 'Spuri ',
 'Suraj S Bilgi',
 'Shivan_S ',
 'Mahesh Sarade',
 'Vivek ',
 'Nitin M',
 'Madhulika G',
 'Chaitra K Hiremath',
 'Sowmiya Sivakumar',
 'Manjunatha A',
 'Boktiar Ahmed Bappy',
 'Nishtha Jain',
 'Ishawant Kumar',
 'Khushboo Priya',
 'Ishawant Kumar',
 'Khushboo Priya',
 'Nishtha Jain',
 'Boktiar Ahmed Bappy',
 'Manjunatha A',
 'Hrisikesh Neogi',
 'Saikumarreddy N',
 'Aravind ',
 'Wasim ',
 'Shivan K',
 'Nandani Gupta',
 'Mahesh Sarade',
 'Ameya Jain',
 'Prabir Kumar Satapathy',
 'Swati ',
 'Maitry ',
 'Rishav Dash',
 'Mithun S',
 'Hitesh Choudhary',
 'Sanjeevan ',
 'Mukesh ',
 'Anirudh ',
 'Shiva Srivastava',
 'Ashish ',
 'Dibyanshu ',
 'Aditya Shinde',
 'Uday Mishra',
 'Aditya_iot ',
 'Jayant Kumar',
 'Hyder Abbas',
 'Saurabh Shukla',
 'Deepranjan Gupta',
 'Bharath ',
 'Rishav Dash',
 'Samprit ',
 'Ankit Sharma',
 'Abhishek ',
 'Prerna Singh',
 'Muskan Garg',
 'Tarun ',
 'Ashad Nasim',
 'Aditya ',
 'Amersh ',
 'Vasanth P',
 'Ineuron Intelligence ',
 'Shubham Sharma',
 'Sandipan Saha',
 'Mahak ',
 'Zeeshan ',
 'Mukesh Rao ',
 'Ankitjha ',
 'Saif Khan',
 'Anurag Tiwari',
 'Ashish ',
 'Harikrishnan Shaji',
 'Prateek _iot ',
 'Maneesh ',
 'Rohan ',
 'Spuri ',
 'Suraj S Bilgi',
 'Shivan_S ',
 'Vivek ',
 'Nitin M',
 'Jawala Prakash',
 ...]

# Percenatge of chat on which agents have recieved a feedback

In [161]:
df.tail()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Ratings
2155,2156,2022-07-01,Sowmiya Sivakumar,0,0,0,0.0,0,need to improve
2156,2157,2022-07-01,Nitin M,0,0,0,0.0,0,need to improve
2157,2158,2022-07-01,Vivek,0,0,0,0.0,0,need to improve
2158,2159,2022-07-01,Ayushi Mishra,0,0,0,0.0,0,need to improve
2159,2160,2022-07-01,Chaitra K Hiremath,0,0,0,0.0,0,need to improve

In [162]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Ratings
0,1,2022-07-30,Prerna Singh,11,38,260,4.11,9,good
1,2,2022-07-30,Nandani Gupta,11,75,1705,3.14,7,need to improve
2,3,2022-07-30,Ameya Jain,14,30,696,4.55,11,good
3,4,2022-07-30,Mahesh Sarade,14,64,946,4.71,7,good
4,5,2022-07-30,Swati,14,71,993,3.67,6,need to improve

In [188]:
df_pf = df.groupby(['Agent Name']).sum()
df_pf = df_pf[df_pf['Total Chats'] > 0]
df_pf

,SL No,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
Agent Name,,,,,,
Aditya Shinde,32040,277,892,18619,54.01,153
Aditya_iot,31782,231,1019,17679,70.36,131
Ameya Jain,32209,322,634,9855,66.59,228
Anirudh,31946,81,653,5564,19.35,39
Ankitjha,32776,5,133,1634,8.00,3
Anurag Tiwari,32846,4,253,2218,5.50,3
Aravind,32109,366,641,16067,65.44,233
Ashad Nasim,32588,18,1159,628,5.00,9
Ayushi Mishra,32550,514,1810,27678,104.46,329
Bharath,31979,369,804,19428,89.51,247
Boktiar Ahmed Bappy,32687,452,1981,30715,107.04,311
Chaitra K Hiremath,33004,64,454,2669,25.94,37
Deepranjan Gupta,32170,493,1596,37535,86.60,312
Dibyanshu,32107,1,38,740,0.00,0
Harikrishnan Shaji,32206,381,1019,20353,79.19,231
Hitesh Choudhary,32038,1,0,85,0.00,0
Hrisikesh Neogi,31824,578,1515,27789,94.09,367
Ishawant Kumar,32690,338,1504,25953,106.30,202
Jawala Prakash,32649,439,2827,23413,104.16,250
Jayant Kumar,32179,127,553,8848,32.06,70
Jaydeep Dixit,32182,512,1332,32432,95.01,305
Khushboo Priya,32261,446,1839,30133,111.11,289
Madhulika G,32403,469,1993,27977,104.96,281
Mahak,32718,7,0,1204,3.00,5
Mahesh Sarade,32278,364,1393,16485,72.01,216
Maitry,32471,542,1915,23012,87.81,347
Maneesh,32871,4,135,1250,5.00,3
Manjunatha A,32472,413,1085,30526,107.84,254
Mithun S,31962,503,868,10400,70.77,364
Mukesh,31987,19,100,2278,9.29,17
Mukesh Rao,32701,5,394,13817,7.67,5
Muskan Garg,32343,56,178,3456,21.37,37
Nandani Gupta,32042,560,1796,32691,87.71,308
Nishtha Jain,32254,373,1824,16752,98.47,257
Prabir Kumar Satapathy,32030,299,1140,10699,75.31,222
Prateek _iot,32164,190,675,14587,73.15,107
Prerna Singh,31874,401,1430,29742,96.98,235
Rishav Dash,64650,409,1819,30573,85.61,264
Saikumarreddy N,32434,364,755,11201,59.41,290
Samprit,32392,1,0,103,0.00,0
Sandipan Saha,32702,30,177,4735,12.87,18
Sanjeev Kumar,31971,507,1536,30949,101.49,311
Saurabh Shukla,32214,16,105,2142,16.67,8
Shiva Srivastava,31911,53,300,2664,28.34,46
Shivan K,32077,357,1437,28548,85.24,243
Shivan_S,33145,7,73,1102,4.25,4
Shivananda Sonwane,32381,441,1680,38058,126.98,263
Shubham Sharma,32005,510,1450,31295,96.76,300
Sowmiya Sivakumar,32870,206,785,10720,37.80,141
Sudhanshu Kumar,33031,2,120,3509,10.00,2
Suraj S Bilgi,33041,28,182,4730,9.36,15
Swati,32133,524,1734,22097,72.71,302
Tarun,32529,22,0,2714,1.50,6
Vivek,32941,44,411,4583,15.02,20
Wasim,32067,433,891,20666,72.00,284
Zeeshan,32254,542,1852,19352,68.61,335

In [189]:
df_pf.columns

Index(['SL No', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback'],
      dtype='object')

In [190]:
df_pf['Percentage feedback on chats']= 100 * df_pf['Total Feedback'] / df_pf['Total Chats']

In [191]:
df_pf

,SL No,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Percentage feedback on chats
Agent Name,,,,,,,
Aditya Shinde,32040,277,892,18619,54.01,153,55.234657
Aditya_iot,31782,231,1019,17679,70.36,131,56.709957
Ameya Jain,32209,322,634,9855,66.59,228,70.807453
Anirudh,31946,81,653,5564,19.35,39,48.148148
Ankitjha,32776,5,133,1634,8.00,3,60.000000
Anurag Tiwari,32846,4,253,2218,5.50,3,75.000000
Aravind,32109,366,641,16067,65.44,233,63.661202
Ashad Nasim,32588,18,1159,628,5.00,9,50.000000
Ayushi Mishra,32550,514,1810,27678,104.46,329,64.007782
Bharath,31979,369,804,19428,89.51,247,66.937669
Boktiar Ahmed Bappy,32687,452,1981,30715,107.04,311,68.805310
Chaitra K Hiremath,33004,64,454,2669,25.94,37,57.812500
Deepranjan Gupta,32170,493,1596,37535,86.60,312,63.286004
Dibyanshu,32107,1,38,740,0.00,0,0.000000
Harikrishnan Shaji,32206,381,1019,20353,79.19,231,60.629921
Hitesh Choudhary,32038,1,0,85,0.00,0,0.000000
Hrisikesh Neogi,31824,578,1515,27789,94.09,367,63.494810
Ishawant Kumar,32690,338,1504,25953,106.30,202,59.763314
Jawala Prakash,32649,439,2827,23413,104.16,250,56.947608
Jayant Kumar,32179,127,553,8848,32.06,70,55.118110
Jaydeep Dixit,32182,512,1332,32432,95.01,305,59.570312
Khushboo Priya,32261,446,1839,30133,111.11,289,64.798206
Madhulika G,32403,469,1993,27977,104.96,281,59.914712
Mahak,32718,7,0,1204,3.00,5,71.428571
Mahesh Sarade,32278,364,1393,16485,72.01,216,59.340659
Maitry,32471,542,1915,23012,87.81,347,64.022140
Maneesh,32871,4,135,1250,5.00,3,75.000000
Manjunatha A,32472,413,1085,30526,107.84,254,61.501211
Mithun S,31962,503,868,10400,70.77,364,72.365805
Mukesh,31987,19,100,2278,9.29,17,89.473684
Mukesh Rao,32701,5,394,13817,7.67,5,100.000000
Muskan Garg,32343,56,178,3456,21.37,37,66.071429
Nandani Gupta,32042,560,1796,32691,87.71,308,55.000000
Nishtha Jain,32254,373,1824,16752,98.47,257,68.900804
Prabir Kumar Satapathy,32030,299,1140,10699,75.31,222,74.247492
Prateek _iot,32164,190,675,14587,73.15,107,56.315789
Prerna Singh,31874,401,1430,29742,96.98,235,58.603491
Rishav Dash,64650,409,1819,30573,85.61,264,64.547677
Saikumarreddy N,32434,364,755,11201,59.41,290,79.670330
Samprit,32392,1,0,103,0.00,0,0.000000
Sandipan Saha,32702,30,177,4735,12.87,18,60.000000
Sanjeev Kumar,31971,507,1536,30949,101.49,311,61.341223
Saurabh Shukla,32214,16,105,2142,16.67,8,50.000000
Shiva Srivastava,31911,53,300,2664,28.34,46,86.792453
Shivan K,32077,357,1437,28548,85.24,243,68.067227
Shivan_S,33145,7,73,1102,4.25,4,57.142857
Shivananda Sonwane,32381,441,1680,38058,126.98,263,59.637188
Shubham Sharma,32005,510,1450,31295,96.76,300,58.823529
Sowmiya Sivakumar,32870,206,785,10720,37.80,141,68.446602
Sudhanshu Kumar,33031,2,120,3509,10.00,2,100.000000
Suraj S Bilgi,33041,28,182,4730,9.36,15,53.571429
Swati,32133,524,1734,22097,72.71,302,57.633588
Tarun,32529,22,0,2714,1.50,6,27.272727
Vivek,32941,44,411,4583,15.02,20,45.454545
Wasim,32067,433,891,20666,72.00,284,65.588915
Zeeshan,32254,542,1852,19352,68.61,335,61.808118

In [5]:

df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,30-07-2022,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,30-07-2022,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,30-07-2022,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,30-07-2022,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,30-07-2022,Swati,14,00:01:11,00:16:33,3.67,6

In [7]:
df.count()

SL No                      2160
Date                       2160
Agent Name                 2160
Total Chats                2160
Average Response Time      2160
Average Resolution Time    2160
Average Rating             2160
Total Feedback             2160
dtype: int64